* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(135deg, #153677, #4e085f);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 95vh;
    padding: 10px;
    width: 100%;
}

#input-form {
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-left: 20px;
}

.todo-app {
    background: #ffff;
    border-radius: 10px;
    margin: 100px 30px 70px;
    max-width: 540px;
    padding: 40px 30px 70px;
    width: 100%;
}

.todo-app h2 {
    align-items: center;
    color: #002765;
    display: flex;
    margin-bottom: 20px;
}

.todo-app h2 img {
    margin-left: 10px;
    width: 30px;
}

input {
    background: transparent;
    border: none;
    flex: 1;
    font-weight: 400;
    outline: none;
    padding: 10px;
}

button {
    background-color: #ff5945;
    border: none;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 16px 50px;
}

ul li {
    cursor: pointer;
    font-size: 17px;
    list-style: none;
    padding: 12px 8px 12px 50px;
    position: relative;
    user-select: none;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li::before {
    background-image: url(images/unchecked.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    content: '';
    height: 28px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 28px;
}

ul li span {
    border-radius: 50%;
    color: #555;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5px;
    width: 40px;
}

ul li span:hover {
    background: #edeef0;
}

footer {
    align-items: center;
    background: #120b36;
    border-top: double 2px;
    box-sizing: border-box;
    color: #ff5945;
    display: flex;
    font-family: inherit;
    justify-content: center;
    padding: 10px;
}